<h1>Users</h1>
      <table>
        <tr>
          <th><h1>ID</h1></th>
          <th><h1>Users</h1></th>
          <th><h1>Image</h1></td>
        </tr>
        <% @users.each do |user| %>
        <tr>
          <td><h2><%= user.id %></h2></td>
          <td>
          <%= link_to user_path(user) do %>
            <h2><%= user.name %><br></h2>
          <% end %>
            Number of posts: <%= user.post_counter %>
          </td>
          <td><img class="user-img" src= <%= user.photo %> alt="profile photo" /></td>
        </tr>
        <% end %>
      </table>