<h1>Users show method</h1>

<div class="user_show_container">
<img class="img" src= <%= @user.photo %> alt="profile photo" />
<div class="user_bio">
  <h3>Bio</h3>
  <p><%= @user.name %></p>
  <p><%= @user.bio %></p>
</div>

<% @posts.each do |post| %>
  <div class="post_container">
  <p><%= post.title %> </p>
  <p><%= post.text %></p>
  <div class="counters">
    <span>Comments: <%= post.comments_counter %></span> 
    <span>Posts: <%= @user.post_counter %></span> 
    <span>Likes: <%= post.likes_counter%> </span>
  </div>
  
  </div>
<% end %>

<button><%= link_to 'See all posts', user_posts_path(@user.id) %></button>
</div>